@page "/EntradasHuacales/Index"
@using Raydelis_HilarioAP1_P1.Models
@using Raydelis_HilarioAP1_P1.Services

@inject EntradasHuacalesService entradasHuacalesService

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header bg-light">
            <h5 class="card-title">Entradas de huacales</h5>
        </div>
        <div class="card-body bg-light">
            <div class="d-flex justify-content-between">
                
            </div>
            <div class="d-flex  bg-light gap-2">
                <InputNumber class="form-control" @bind-Value="FiltroId" placeholder="Filtrar por Id" />
                <InputText class="form-control" @bind-Value="FiltroNombre" placeholder="Filtrar por cliente" />
                <InputNumber class="form-control" @bind-Value="FiltroCantidad" placeholder="Filtrar por cantidad" />
                <InputNumber class="form-control" @bind-Value="FiltroPrecio" placeholder="Filtrar por precio" />
                @* boton buscar *@
                <button class="btn btn-outline-primary bi bi-search me-2" @onclick="Buscar"></button>
                @* boton create *@
                <a href="/EntradasHuacales/Create" class="btn btn-primary">
                    <span class="bi bi-plus-square mt-3"></span>
                </a>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Entrada Id</th>
                        <th>Fecha</th>
                        <th>Nombre del cliente</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var entrada in ListaEntradas)
                    {
                        <tr>
                            <td>@entrada.IdEntrada</td>
                            <td>@entrada.Fecha</td>
                            <td>@entrada.NombreCliente</td>
                            <td>@entrada.Cantidad</td>
                            <td>@entrada.Precio</td>
                            <td>
                                @* boton edit *@
                                <a class="btn btn-sm btn-outline-primary" href=@($"/EntradasHuacales/Edit/{entrada.IdEntrada}")">
                                    <span class="bi bi-pencil-square"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer bg-light d-flex justify-content-between">
            <div>
                <label><strong>Cantidad: </strong>@ListaEntradas.Count</label>
            </div>
            <div>
                <label><strong>Total: </strong>$@TotalPrecio</label>
            </div>
        </div>
    </div>
</div>



@code {
    public List<EntradasHuacales> ListaEntradas = new List<EntradasHuacales>();
    public List<EntradasHuacales> ListaFiltrada = new List<EntradasHuacales>();
    double TotalPrecio = 0.0;
    public string ValorFiltro = string.Empty;
    public string? FiltroNombre { get; set; }
    public int? FiltroId { get; set; }
    public int? FiltroCantidad { get; set; }
    public double? FiltroPrecio { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ListaEntradas = await entradasHuacalesService.Listar(criterio: e => e.IdEntrada > 0);
        if(ListaEntradas.Count > 0)
        {
            foreach(var entrada in ListaEntradas)
            {
                TotalPrecio += entrada.Precio * entrada.Cantidad;
            }
        }
        ListaFiltrada = ListaEntradas;
    }

    private async Task Buscar()
    {
        var lista = ListaEntradas.AsQueryable();

        if (FiltroId.HasValue)
            lista = lista.Where(e => e.IdEntrada == FiltroId.Value);

        if (!string.IsNullOrWhiteSpace(FiltroNombre))
            lista = lista.Where(e => e.NombreCliente.ToLower().Contains(FiltroNombre.ToLower()));

        if (FiltroCantidad.HasValue)
            lista = lista.Where(e => e.Cantidad == FiltroCantidad.Value);

        if (FiltroPrecio.HasValue)
            lista = lista.Where(e =>
                e.Precio == FiltroPrecio.Value);

        ListaFiltrada = lista.ToList();
    }
}
