@page "/EntradasHuacales/Edit/{IdEntrada:int}"
@using Raydelis_HilarioAP1_P1.Extensors
@using Raydelis_HilarioAP1_P1.Models
@using Raydelis_HilarioAP1_P1.Services

@inject ToastService toastService
@inject NavigationManager navigationManager
@inject EntradasHuacalesService entradasHuacalesService

<PageTitle>Crear entrada</PageTitle>
<EditForm Model="@entradaHuacal" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header bg-light">
                <h5 class="card-title">Editar entrada de huacal</h5>
            </div>
            <div class="card-body bg-light">
                <label>Fecha de entrada:</label>
                <div class="d-flex justify-content-start gap-2">
                    <InputDate class="form-control" @bind-Value="@entradaHuacal.Fecha" placeholder="Ingrese la fecha de la entrada"></InputDate>
                    <ValidationMessage For="@(() => entradaHuacal.Fecha)" />
                </div>
                <label>Nombre del cliente:</label>
                <div class="d-flex justify-content-start gap-2">
                    <InputText class="form-control" @bind-Value="@entradaHuacal.NombreCliente" placeholder="Ingrese el nombre del cliente..."></InputText>
                    <ValidationMessage For="@(() => entradaHuacal.NombreCliente)" />
                </div>
                <label>Cantidad:</label>
                <div class="d-flex justify-content-start gap-2">
                    <InputNumber class="form-control" @bind-Value="@entradaHuacal.Cantidad" placeholder="Ingrese la cantidad..."></InputNumber>
                    <ValidationMessage For="@(() => entradaHuacal.Cantidad)" />
                </div>
                <label>Precio:</label>
                <div class="d-flex justify-content-start gap-2">
                    <InputNumber class="form-control" @bind-Value="@entradaHuacal.Precio" placeholder="Ingrese la el precio del huacal..."></InputNumber>
                    <ValidationMessage For="@(() => entradaHuacal.Precio)" />
                </div>
            </div>
            <div class="card-footer d-flex justify-content-center gap-2">
                <a href="/EntradasHuacales/Index" class="btn btn-secondary mt-3">
                    <span class="bi bi-left">Volver</span>
                </a>
                <button class="btn btn-primary me-2 bi bi-save">Crear</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    EntradasHuacales entradaHuacal = new EntradasHuacales();

    public async Task Guardar()
    {
        var guardado = await entradasHuacalesService.Guardar(entradaHuacal);
        if (guardado)
        {
            toastService.ShowSuccess("La entrada ha sido guardada con exito!");
            navigationManager.NavigateTo("/EntradasHuacales/Index");
        }
        else
        {
            toastService.ShowError("Ha ocurrido un error al intentar guardar la entrada.");
        }
    }

}

