@page "/EntradasHuacales/Index"
@using Raydelis_HilarioAP1_P1.Models
@using Raydelis_HilarioAP1_P1.Services

@inject EntradasHuacalesService entradasHuacalesService

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header bg-light">
            <h5 class="card-title">Entradas de huacales</h5>
        </div>
        <div class="card-body bg-light">
            <div class="d-flex  bg-light gap-2">
                <InputText class="form-control" @bind-Value="ValorFiltro" placeholder="Buscar..."></InputText>
                @* boton buscar *@
                <button class="btn btn-outline-primary bi bi-search me-2" @onclick="Buscar"></button>
                @* boton create *@
                <a href="/EntradasHuacales/Create" class="btn btn-primary">
                    <span class="bi bi-plus-square mt-3"></span>
                </a>
            </div>
            <table class="table-hoover">
                <thead>
                    <tr>
                        <th>Entrada Id</th>
                        <th>Fecha</th>
                        <th>Nombre del cliente</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var entrada in ListaEntradas)
                    {
                        <tr>
                            <td>@entrada.IdEntrada</td>
                            <td>@entrada.Fecha</td>
                            <td>@entrada.NombreCliente</td>
                            <td>@entrada.Cantidad</td>
                            <td>@entrada.Precio</td>
                            <td>
                                @* boton edit *@
                                <a class="btn btn-sm btn-outline-primary" href=@($"/EntradasHuacales/Edit/{entrada.IdEntrada}")">
                                    <span class="bi bi-pencil-square"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer bg-light">
            <label>Cantidad: @ListaEntradas.Count</label>
            <label>   Total: @TotalPrecio</label>
        </div>
    </div>
</div>



@code {
    public List<EntradasHuacales> ListaEntradas = new List<EntradasHuacales>();
    double TotalPrecio = 0.0;
    public string ValorFiltro = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ListaEntradas = await entradasHuacalesService.Listar(criterio: e => e.IdEntrada > 0);
        if(ListaEntradas.Count > 0)
        {
            foreach(var entrada in ListaEntradas)
            {
                TotalPrecio += entrada.Precio;
            }
        }
    }  

    private async void Buscar()
    {
        if(ValorFiltro.Length > 0)
            ListaEntradas = await entradasHuacalesService.Listar(criterio: e => e.NombreCliente.Equals(ValorFiltro.ToLower()));
        else
            ListaEntradas = await entradasHuacalesService.Listar(criterio: e => e.IdEntrada > 0);
    }
}
